<h1 class="heading">{{ section.settings.heading_text }}</h1>

<div class="card-container">
  {% for block in section.blocks %}
    <div class="card">
      <div class="card-img">
        <img src="{{block.settings.advantage_card_image}}" />
      </div>

      <div class="card-text">
        <h1>{{ block.settings.card_heading_text }}</h1>
        <a href="{{block.settings.btn_link}}">{{ block.settings.btn_text }}</a>
      </div>
    </div>
  {% endfor %}


  {% schema %}
    {
      "name": "Advantage Section",
      "tag": "div",
      "class": "section",
      "settings": [
        {
          "type": "text",
          "id": "heading_text",
          "label": "Heading - Text",
          "default": "The Chetna Advantage"
        }
      ],
      "blocks": [
        {
          "type": "slide",
          "name": "Card",
          "settings": [
            {
              "type": "image_picker",
              "id": "advantage_card_image",
              "label": "Advantage Card Image"
            }, {
              "type": "text",
              "id": "btn_text",
              "label": "Button Text",
              "default": "Type button text here"
            }, {
              "type": "url",
              "id": "btn_link",
              "label": "Button Link",
              "default": "/collections"
            }, {
              "type": "text",
              "id": "card_heading_text",
              "label": "Card Heading Text"
            }
          ]
        }
      ]
    }
  {%endschema%}